<h1>Users</h1>
<% @users.each do |user| %>
  <div>
    <ul>
      <li>id: <%= user.id %></li>
      <li>lab number: <%= user.lab_number %></li>
      <li>age: <%= user.age %></li>
      <li><a href="/users/<%= user.id %>">View questions</a></li>
    </ul>
  </div>
<% end %>